/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #5e5353;
    --secondary-color: #2ecc71;
    --text-color: #333;
    --background-color-top-bar: #ffffff83;
    --background-color: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}


.img-main-fashion {
    width: 30px;
    object-fit: cover;
    object-position: center;
}
