/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #d4d4d4;
    --secondary-color: #2ecc71;
    --text-color: #333;
    --background-color-top-bar: #f0f0f083;
    --background-color: #f4f4f4;
}

/* format document css */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
