
.nav {
    background-color: var(--background-color);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 1260px;
    margin: 0 auto;
    font-weight: 200;
    font-size: 15px;
    
    .nav-icons {
        display: flex;
        gap: 1rem;
    }
}

.nav-links {
    ul {
        display: flex;
        gap: 1rem;
        list-style: none;
        cursor: pointer;
    }
}
