{% load static %}

<div class="nav">
    <nav>
        <div class="nav-content">
            <div class="nav-logo">
                <span>Fashe.</span>
            </div>

            <div class="nav-links">
                <ul>
                    <li>Home</li>
                    <li>Shop</li>
                    <li>Sale</li>
                    <li>Features</li>
                    <li>Blog</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </div>

            <div>
                <div class="perfile">
                    <!-- icon here -->
                </div>
                <div class="header-icon1">
                    <!-- icon here -->
                </div>    
            </div>
        </div>
    </nav>
</div>
