{% load static %}

<div class="mx-auto">
    <div class="">
        <div class="flex justify-between items-center">
            <div class="">
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-facebook">
                        <img width="25" src="{% static 'assets/icons/facebook.png' %}" alt="">
                    </i>
                </a>
                <a href="https://www.twitter.com/" target="_blank">
                    <i class="fa fa-twitter">
                        <img width="25" src="{% static 'assets/icons/x.png' %}" alt="">
                    </i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa fa-instagram">
                        <img width="25" src="{% static 'assets/icons/insta.png' %}" alt="">
                    </i>
                </a>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fa fa-linkedin">
                        <img width="25" src="{% static 'assets/icons/linkedin.png' %}" alt="">
                    </i>
                </a>
            </div>
            <!-- message of shipping -->
            <div class="shipping-message">
                <p>Free shipping on orders over $50</p>
            </div>

            <!-- welcome user -->
            <div class="welcome-user">
                {% if user.is_authenticated %}
                    <p>Welcome, {{ user.username }}!</p>
                {% else %}
                    <p>Welcome, Guest!</p>
                {% endif %}
        </div>
    </div>
</div>
